.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

.top_btn{
    display: flex;
    gap: 16px;
}

.Contactform{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.Contactform form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form_control{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 18px;
}

.form_control input{
    height: 40px;
    border: 1px solid black;
    padding: 0 8px;
}

.form_control label{
    position: absolute;
    top: -11px;
    left: 10px;
    background-color: white;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 600;
}

.form_control textarea{
    padding: 10px;
}

.contact_images img{
    width: 90%;
}