.navigation{
    max-width: 1280px;
    padding: 8 8px;
    display: flex;
    align-items: center;
}

nav{
    height: 72px;
    display: flex;
    
  }
  
nav ul{
    list-style: none;
    display: flex;
    height: 72px;
    font-weight: 500;
    gap: 24px;
  }